ErrorDocument 404 /404.html
# CSP permissions for spark.apache.org - Adding 3rd party service Algolia.
SetEnv CSP_PROJECT_DOMAINS "https://*.algolia.net/ https://*.algolianet.com/ https://*.algolia.io/"
