ErrorDocument 404 /404.html
<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src 'self'; connect-src 'self' https://*.algolia.net https://*.algolianet.com https://*.algolia.io; script-src 'self' https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;"
</IfModule>
