<header id="branding" role="banner">
  <hgroup>
    <h1 id="site-title"><span><a href="{{site.url}}" title="Spark" rel="home">Spark</a></span></h1>
    <h2 id="site-description">Lightning-Fast Cluster Computing</h2>
  </hgroup>

  <a href="{{site.url}}">
    <img src="{{site.url}}images/spark-project-header1.png" width="1000" height="220" alt="Spark: Lightning-Fast Cluster Computing" title="Spark: Lightning-Fast Cluster Computing" />
  </a>

  <nav id="access" role="navigation">
    <h3 class="assistive-text">Main menu</h3>
    <div class="menu-main-menu-container">
      <ul id="menu-main-menu" class="menu">
        {% for p in site.navigation %}
        <li class="menu-item menu-item-type-post_type menu-item-object-page {% if p.title == page.title %}current-menu-item{% endif %}">
          <a href="{{site.url}}{{p.url | replace:'/',''}}">{{p.title}}</a>
        </li>
        {% endfor %}
      </ul></div>
  </nav><!-- #access -->
</header><!-- #branding -->

